/*battle*/
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
body{
  background-image: url("../img/internet1.jpg");
  background-size: 1500px;
  font-family: 'Share Tech Mono',Arial;
  color: white;
}
.row{
  display:flex;

}
.column {
  flex: 50%;

}
.box1 {
  width: 50%;
	margin:auto;
  border: 4px solid white;
  padding: 20px ;
  text-align: center;
  color: white;
  font-family: 'Share Tech Mono',Arial;
}

figure{
  display: block;
  margin-left: 50px;
  margin-right: 200px;
  margin-bottom: -100px;
  margin-top: 50px;
  width: 1000px;
}
a.button {
  background-color: black;
  border: white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-family: 'Share Tech Mono',Arial;
  display: inline-block;
  font-size: 16px;
  margin: 40px 20px;
  cursor: pointer;
}
