/*intro css*/
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

body{
  background-color: black;
}
.box1 {
  width: 50%;
	margin:auto;
  border: 4px solid white;
  padding: 20px ;
  text-align: center;
  color: white;
  font-family: 'Share Tech Mono',Arial;
}
p{
  text-align: center;
  font-family: 'Share Tech Mono',Arial;
  color: white
  
}

.appear {
    opacity: 0;
    /*background: blue;*/
  /*height: 300px;*/
    /*width: 100px;*/
    animation: opacityOn 2s normal forwards;
    animation-delay: 2s;
}

@keyframes opacityOn {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
